# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

# list any PHP version you want to test against
php:
  # using major version aliases

  # aliased to a recent 5.5.x version
  - 5.5
  # aliased to a recent 5.6.x version
  - 5.6
  # aliased to a recent 7.x version
  - 7.0
  # aliased to a recent hhvm version
  - hhvm

before_script:
  - composer install

script: phpunit --coverage-clover build/logs/clover.xml

after_script:
 - php vendor/bin/coveralls -v
 - ./vendor/bin/test-reporter

 addons:
    code_climate:
        repo_token: 341f055579981f9f215203ab3788adc65b18eb406f762cf5f50d274d86931d38