dist: trusty

language: php

php:
  - 7.0
  - 7.1
  - nightly
  - hhvm

before_script:
  - composer install

after_script:
  - ./vendor/bin/test-reporter

after_success:
  - bash <(curl -s https://codecov.io/bash)

addons:
  code_climate:
    repo_token: 341f055579981f9f215203ab3788adc65b18eb406f762cf5f50d274d86931d38

cache:
  directories:
    - $HOME/.composer/cache/files